SudokuSetterAndSolver/Tipsxsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Statistics"
    targetNamespace="http://tempuri.org/Statistics.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Statistics.xsd"
    xmlns:mstns="http://tempuri.org/Statistics.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name ="tip">
    <xs:complexType>
      <xs:sequence>
        <xs:element name ="tiptitle" type="xs:string"/>
        <xs:element name ="tipcontent" type="xs:string"/>
        <xs:element name ="tippicturedirectorylocation" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
